.tabela {
    width: 400px;
    height: 550px;
    background: rgb(152, 222, 245);
    border-radius: 10%;  
    border: 5px solid #299ed4;
    position:relative;
    top: 100px;
    left: 35%;
    background: url(images/фон.jpg);
    background-size:cover ;
}
.centr{
    font-size: 23px;
    position: relative;
    left: 67px;
    color: #25a3a1;
    font-family: monospace;
}
.telegram{
    width: 50px;
    height: 50px;
    background:url(praktik/telegram.png);
    background-size: cover;
    position: relative;
    left: 10px;
}
.tggs{
    padding-left: 400% ;
    position: relative;
    left:60px;
    cursor: pointer;
    box-shadow: 5px 5px 5px  black;
    border-radius: 25px;
    background-color: rgb(85, 188, 239);
    border: 3px solid rgb(252, 252, 252);;
}

.tg {
    position: relative;
    right: 100px;
    text-decoration: 1px solid;
    font-weight: 1000px;
    font-family: monospace;
    font-style: italic;
    font-style: oblique;

}
.instagram {
    width: 50px;
    height: 50px;
    background: url(praktik/pngegg.png);
    background-size: cover;
    position: relative;
    left: 10px;
    top: 50px;
}
.insta  {
    padding-left: 395%;
    padding-top: 10%;
    cursor: pointer;
    position: relative;
    left: 60px;
    border-radius: 100px;
    background-color: rgb(156, 6, 156);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 5px;
}
.ins {
    size: 100ch;
    position: relative;
    right: 100px;
    text-decoration: 1px solid;
    font-family: monospace;
    font-style: italic;
    font-style: oblique;
}

